<!DOCTYPE html>
<html lang="en">
<head>
	

	<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="styles/partials styles/chatBox.css">
	
</head>
<body>

	<div id="chatbox-wrapper">

		<div id="chatbox-toggle">

			<i class='bx bx-message-dots'></i>

		</div>
        
		<div id="chatbox-message">

			<div id="message-header">

				<div id="message-profile">

					<img src="images/profile-avatar/avatar.png" id="profile-image">

					<div>

						<h4 id="profile-name">Jonathan Doe</h4>

						<!-- momkn t2ol alstate bt3to mn hena lw 3aiz tzwdha-->
					</div>

				</div>

			</div>

			<div id="chatbox-content">

				<h4 id="chatbox-no-message">You don't have message yet! <br> How can i help you?!</h4>

				 <!--<div class="chatbox-message-item sent">
					<span class="chatbox-message-item-text">
						
					</span>
					<span class="chatbox-message-item-time"></span>
				</div>
				<div class="chatbox-message-item received">
					<span class="chatbox-message-item-text">
						
					</span>
					<span class="chatbox-message-item-time"></span>
				</div> 
					-->
			</div>

			<div id="chatbox-message-bottom">

				<form action="#" id="chatbox-form">

					<textarea rows="1" placeholder="Type message..." id="message-input"></textarea>

					<button type="submit" id="message-submit"><i class='bx bx-send' ></i></button>

				</form>

			</div>

		</div>

	</div>
	

	<script src="scripts/partials scripts/chatBox.js"></script>
</body>
</html>
