<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="styles/partials styles/footer.css">
</head>

<footer>
    <div id="footer-col1">
        <div id="logo">
        
            <img id="logo-img" src="images/logos/jobme logo full.png" alt="JobMe-Logo">
            <h1>JobMe!</h1>
        
        </div><br>
        <h2>About us</h2>
        <a href="">Mission</a>
        <a href="">Services</a>
        <a href="">Careers</a>
        <a href="">F.A.Q</a>
        <a href="">Privacy policy</a>

    </div>
    <div id="footer-col2">
        <h2>Community</h2>
        <a href="">Blogs</a>
        <a href="">Forums</a>
        <a href="">Find the right Job for you</a>
    </div>
    <div id="footer-col3">
        <h2>Support ME</h2>
        <a href="">Guides</a>
        <a href="">Support</a>
        <a href="">TeachME</a>
    </div>
    
</footer>
<div id="footer-social-section">
    <img src="images/logos/jobme logo full.png" alt="Logo">
    <p> &copy; JobME 2024</p>
</div>
<<<<<<< HEAD
 </html> 
=======

 </html> 

>>>>>>> 3023bb9321d43c805426458e835b8aa152e778ac
