<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #footer-col1, #footer-col2,#footer-col3{
            display: flex;
            flex-direction: column;
           
        }
        #footer-col1, #footer-col1, #footer-col3, a, h2{
            color: #d9d9d9;
            text-decoration: none;
            margin-left: 3lvw;
        }
        #footer-col2, #footer-col3{
            margin-top: 11lvh;
            margin-left: 5lvw;
        }
        footer{
            margin-left: 10lvw;
            margin-top: 5lvh;
            margin-bottom: 10lvh;
            display: flex;
            flex-direction: row;
            
        }
        #logo{
            display: flex;
        }
        #logo-img{
            width: 100%; 
            display: block;
        }
        #logo h1{
            color: #d9d9d9;

        }
        #footer-social-section{
            display: flex;
            flex-direction: row;
            background-color: #d9d9d9;
            max-height: 10lvh;
            
        }
        #footer-social-section img{
            height: 10lvh; 
            margin-left: 3lvw;
        }
        #footer-social-section p{
            margin-top: 3lvh;
            font-size: large;
        }
    </style>
</head>
<footer>
    <div id="footer-col1">
        <div id="logo">
        
            <img id="logo-img" src="../../static/images/logos/jobme logo full.png" alt="JobMe-Logo">
            <h1>JobMe!</h1>
        
        </div><br>
        <h2>About us</h2>
        <a href="">Mission</a>
        <a href="">Services</a>
        <a href="">Careers</a>
        <a href="">F.A.Q</a>
        <a href="">Privacy policy</a>

    </div>
    <div id="footer-col2">
        <h2>Community</h2>
        <a href="">Blogs</a>
        <a href="">Forums</a>
        <a href="">Find the right Job for you</a>
    </div>
    <div id="footer-col3">
        <h2>Support ME</h2>
        <a href="">Guides</a>
        <a href="">Support</a>
        <a href="">TeachME</a>
    </div>
    
</footer>
<div id="footer-social-section">
    <img src="../../static/images/logos/jobme logo full.png" alt="Logo">
    <p> &copy; JobME 2024</p>
</div>
</html>