
        <link rel="stylesheet" href="styles/partials styles/nav.css">
    
    
       
            <nav class="navigation" id="navbar">
                <!--<div class="conatainer">-->
                <div id="logo" >
                    <a href="/">
                        <img src="images/logos/jobme logo j-only.png">
                    <h3>JobME!</h3></a>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="Search...">
                    <button>Search</button>
                </div>
                <div id="login">
                    <a href="/login">LOGIN</a>
                    <a href="/register">JOIN</a>
                </div>
            <!--</div>-->
            </nav>            

        <script src="scripts/partials scripts/nav.js"></script>
    

