<header>
    <div class="topbarContainer">
        <div id="topbar">
            <div class = "logo">
                <a href="https://www.youtube.com" id = "topbar-logo-img">
                    <img src="images/logos/jobmeLogo_j-only.png">
                </a>
            </div>
            <div class="searching-div">
            <input id="searchBar" type="search" placeholder="search...." >
            <button class ="searchButton">Search</button>
            </div>
            <div class = "messege"><a href="######"><span class="material-symbols-outlined">
                mail
                </span></a></div>
            <div class = "order"><a href="######"><span class="material-symbols-outlined">
                orders
                </span></a></div>
                <div class="custom-select">
                    <div class="select-selected">
                        <p class="gg-profile"></p>
                      </div>
                    <div class="select-items">
                        <div>My Profile</div>
                        <div>Settings</div>
                        <div>Logout</div>
                    </div>
                </div>
        </div>
    </div>
</header>