<link rel = "stylesheet" href = "styles/topbar.css">
<link rel = "stylesheet" href = 'https://unpkg.com/css.gg@2.0.0/icons/css/profile.css'>
<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel =" stylesheet" href = "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel = "stylesheet" href = 'https://unpkg.com/css.gg@2.0.0/icons/css/profile.css' >
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<header>
    <div class="topbarContainer">
        <div id="topbar">
            <div class = "logo">
                <a href="/" id = "topbar-logo-img">
                    <img src="images/logos/jobmeLogo_j-only.png">
                </a>
            </div>
            <div class="searching-div">
            <input id="searchBar" type="search" placeholder="search...." >
            <a href = "/services"><button id ="searchButton">Search</button></a>
            </div>
            <div class = "messege"><a href="######"><span class="material-symbols-outlined">
                mail
                </span></a></div>
            <div class = "order"><a href="/clienthistory"><span class="material-symbols-outlined">
                orders
                </span></a></div>
                <div class="custom-select">
                    <div class="select-selected">
                        <p class="gg-profile"></p>
                      </div>
                    <div class="select-items">
                        <div><a href = "/clientprofile">My Profile</a></div>
                        <div>Settings</div>
                        <div><a href = "/">Logout</a></div>
                    </div>
                </div>
        </div>
    </div>
    <script src = "scripts/topbar.js"></script>
</header>