
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #ffffff;
}

#clients-orders{
    text-align: center;
    margin-top: 2rem;
    color: #023f81;
    font-size: 3.3rem;
}
#sharta{
    border: 0;
    height: 4px;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    position:relative;
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%);

}


  #prev-orders {
    box-shadow: 0 0 0.5rem 0 black;
    width: 98%;
    border-radius: 1rem;
    display: block;
    flex-wrap: wrap; 
    justify-content: space-between; 
   max-height: 35rem;
    overflow:auto;
    margin: 0.6rem 0.6rem;

  }
  
  .orders-card {
    width: fit-content ;
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 4rem;
    align-items: center; 
  }
 
  .orders-card p {
    color: rgb(0, 0, 0);
    margin: 0;
    font-size: 1.3rem;
    margin-left: 19rem;
  width: 100%;
  }
  
  .images-div img{
    width: 8rem;
    
  }
 
  .images-div{
    width: 100%;
    border-radius: 10px;
    margin-left: 1rem;
    padding-top: 0.2rem;
    
  }

  .acard {
    color: rgb(0, 0, 0);
    display: flex;
    margin-left: 15rem;
    font-size: 1.3rem;
    margin-right: 2rem;
    align-items: center; 
    flex-direction: column;
    text-align: center;
  }


  /* #prev-orders {
    margin-left: 5%;
    margin-top: 2rem;
    box-shadow: 0 0 0.5rem 0 black;
    width: 90%;
    border-radius: 1rem;
    display: block;
    flex-wrap: wrap; 
    justify-content: space-between; 
    height: 35rem;
    overflow:auto;

  }
 

  .orders-card {
    width: fit-content ;
    display: flex;
    margin-top: 3rem;
    
  }
 
  .client-name p{
    color: rgb(0, 0, 0);
    display: flex;
    width: max-content;
    margin-left: 20rem;
    margin-right: 15rem;
    margin-top: 4rem;
  }
 
  .images-div img{
    width: 30%;
    border-radius: 1rem;
  }
 
  .images-div{
    width: 100%;
    border-radius: 10px;
    margin-left: 4rem;
    margin-bottom: 1rem;
    
  }

  .acard {
    color: rgb(0, 0, 0);
    display: flex;
    width: max-content;
    margin-left: 11rem;
    text-decoration: underline;
    margin-top: 4rem;
    font-weight: 600;
  } */