<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activation</title>

    <style>

        *{
            margin: 0;
            padding: 0;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0; 
        }

        .container {
           
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5em 4em;
            background-color: #fff; 
            border: solid blue 2px;
            box-shadow: 10px 10px 8px blue; 
            border-radius: 8px; 
        }

        .txt{
            font-size: 2.1em;
            color: darkblue;
        }

        .btn {
            padding: 20px 30px;
            background-color: #1e61a8;
            color: white;
            border: none;
            margin-top: 60px;
            margin-bottom: 60px;
            border-radius: 4px;
            font-size: 1.2em;
            cursor: pointer;
        }

        .btn:hover {
            background-color: blue;
            transform: scale(1.1);
        }
    </style>
</head>
<body>
    <div class="container">
    <p class="txt">Find the link to activate your account below </p>
    <a class="btn" href="<%= ActivationLink %>"> Activate account</a>
    <p class="txt"> If you didnt register you can ignore this email!</p>
    </div>
</body>
</html>