<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Client History</title>
    <link rel="stylesheet" href="clientprofile.css">
    <script src='changepass.js'>	</script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

</head>

<body>

    <div class="wrapper">
        <div class="left">
            <img id="img" src="../../static/images/profile-avatar/6009978.png" alt="user picture" width="75%">
            <div class="nav">
                <a href="clientprofile.html"> About</a><br>
                <a href="clientpass.html"> Password</a><br>
                <a href="clienthistory.html"> History</a>
            </div>

        </div>
        <div class="right">

            <div class="search-container">
                <form action="#">
                    <input id="searchbar" type="text" placeholder="Search.." name="search">
                    <button id="butsearch" type="submit">Search</button>
                </form>

            </div>


            <div class="info">
                <h3 id="i">History </h3>

                <div class="container">
                    <div class="prodname"> Name</div>
                    <div class="proddate"> Date</div>
                    <div class="prodprice">Price</div>
                </div>
                
                <div class="product-info">
                    <div class="container">
                        <div class="pname" id="p1_name">Graphic Designer</div>
                        <div class="pdate" id="p1_date">5/2/2023</div>
                        <div class="pprice" id="p1_price">7,500 LE</div>
                    </div>
                    <div class="container">
                        <div class="pname" id="p2_name">Private driver</div>
                        <div class="pdate" id="p2_date">8/6/2024</div>
                        <div class="pprice" id="p2_price">400 LE</div>
                    </div>
                    <div class="container">
                        <div class="pname" id="p3_name">web developer</div>
                        <div class="pdate" id="p3_date">31/1/2005</div>
                        <div class="pprice" id="p3_price">6000 LE</div>
                    </div>
                    <div class="container">
                        <div class="pname" id="p4_name"></div>
                        <div class="pdate" id="p4_date"></div>
                        <div class="pprice" id="p4_price"></div>
                    </div>
                </div>

            </div>
        </div>
        
</body>

</html>