<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Client profile</title>
	<link rel="stylesheet" href="styles/clientprofile.css">
    <script src='scripts/changepass.js'>	</script>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

    

<div class="wrapper">
    <div class="left">
        <img id="img" src="images/profile-avatar/6009978.png" 
        alt="user picture" width="75%">
        <div class="nav" >
            <a  href="/clientprofile"> About</a><br>
            <a  href="/clientpass"> Password</a><br>
            <a  href="/clienthistory"> History</a>
        </div>
       
    </div>
    <div class="right">
        <div class="info">
            <h3 id="i">Profile page</h3>

            <div class="info_data">


               <!-- <div class="button" > <button> Edit</button> </div> -->
                <div class="data">
                    <h4 class="title">First name :</h4>
                    <p class="details" id="c_fname">Jana</p>
                 </div>


                 <!-- <div class="button" > <button> Edit</button> </div> -->
                 <div class="data">
                    <h4 class="title">Last name :</h4>
                    <p class="details" id="c_lname">Nasser</p>
                 </div>


                 <!-- <div class="button" > <button> Edit</button> </div> -->
                 <div class="data">
                    <h4 class="title">Email :</h4>
                    <p class="details" id="c_mail">janjona2256@gmail.com</p>
                 </div>


                 <!-- <div class="button" > <button> Edit</button> </div> -->
                 <div class="data">
                   <h4 class="title">Phone :</h4>
                    <p class="details" id="c_mobile">0123456789</p>
              </div>
              
            </div>
        </div>
      
      
      
        
    </div>
</div>

</body>
</html>