<!DOCTYPE html>
<header>
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="styles/error404.css">
</header>

<body>
    <div id="error-wrapper">
        <div id="error-items">
            <div id="error-logo">
                <b>404</b>
            </div>
            <div id="error-text">
                <b>NOT FOUND</b>
            </div>
            <a href="#" id="Aerror">
                <div id="error-button">
                    <p>Go Home</p>     
                </div></a>
        </div>
    </div>
</body>