<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/landingPageStyles.css">
    <title>Document</title>
</head>
<body>
    <div id="navbar-container">

    </div>
    <p id="infoSection-1">Find the Right <span>Web Developer</span> for Me <span id="misc-text-1">OR</span></p>
    <button id="seller-provide-service">Provide Service</button>
    <div id="searchBar-container">
        <div id="searchBar-search"><input id="searchBar-search-sb" type="text"></div>
        <div id="searchBar-button"><input type="button" value="Find SERVICE!"></div>

    </div>
    
    <div id="stat-container">
        <div id="stat-1"><span>1000+</span>  Customers</div>
        <div id="stat-2"><span> 98%</span> Customers Satisfied</div>
        <div id="stat-3"><span>500+</span> Active freelancers</div>
    </div>
    <script src="../../static/scripts/landingPageScript.js"></script>
</body>
</html>