<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/landingPageStyles.css">
    <title>Document</title>
</head>
<body>
    <div id="navbar-container">

    </div>
    <div id="searchBar-container">
        <div id="searchBar-search"><input id="searchBar-search-sb" type="text"></div>
        <div id="searchBar-button"><input type="button" value="Find SERVICE!"></div>

    </div>
    <script src="../../static/scripts/landingPageScript.js"></script>
</body>
</html>