<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/email styles/mail.css">
    <title>Account Activation</title>

   
</head>
<body>
    <%- include("../partials/topbar.ejs")%>
    <div class="container" id="succont">
        <p class="txt" id="suctxt">Your account was activated successfully ! </p>
        <a class="btn" id="sucbtn" href="/"> Go to home page</a>   
    </div>

    <%- include("../partials/footer.ejs")%>
</body>
</html>