<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles/newgig.css">
</head>
<body>
    <%- include("../partials/topbar") %>
    <div class="container">
        <h1 class="section-title centered">Create a New Gig</h1>
        <form id="gigForm">
        <div class="section">
            <div class="section-title">Gig TITLE</div>
            <input type="text" placeholder="I will design a full elementor wordpress">
        </div>
        <div class="section">
            <div class="section-title" >CATEGORY</div>
            <select id="categorySelect" onchange="updateServiceOptions()">
                <option value="">Select category</option>
                <option>PROGRAMMING & TECH</option>
                <option>Graphics & Design</option>
                <option>Digital Marketing</option>
                <option>Video & Animation</option>
                <option>Writing & Translation</option>
                <option>Music & Audio</option>
                <option>Business</option>
                <option>Consulting</option>
                <option>Data</option>
                <option>AI Services</option>
            </select>
        </div>
        <div class="section">
            <div class="section-title">SERVICE TYPE</div>
            <select id="serviceSelect">
                <option value="">Select service type</option>
            </select>
        </div>
        <div class="section">
            <div class="section-title">GIG METADATA</div>
            <select>
                <option value="">Select meta data</option>
                <option>Education</option>
                <option>Entertainment</option>
                <option>Business</option>
                <option>Non-profit</option>
            </select>
        </div>
        <div class="section">
            <div class="section-title">GIG DESCRIPTION</div>
            <input type="text" placeholder="Description of you gig">
        </div>
        <div class="section">
            <div class="section-title">PRICE</div>
            <input type="text" placeholder="Price">
        </div>
        
        <div class="button cancel-button">Cancel</div>
        <div class="button save-button" onclick="validateForm()">Save</div>
        </form>
    </div>
    <%- include("../partials/footer")%>
    <script src="scripts/newgig.js"></script>
</body>
</html>


