<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/orderhistory.css">
    <title>Document</title>
</head>
<body>
    <%- include("../partials/topbar.ejs")%>
                    <h1 id="clients-orders">Clients Orders</h1>
        <div id="prev-orders">
                    
            <div class="orders-card">
                    <div class="images-div">
                        <img src="images/jobs/webDev.jpeg">
                    </div>

                    <div class="cardText">
                        <a href="#" class="acard">Web Development</a>
                    </div>

                    <div class="client-name">
                        <p>client-name</p>
                    </div>
            </div>
            <hr>
            <div class="orders-card">
                <div class="images-div">
                    <img src="images/jobs/webDev.jpeg">
                </div>
                
                <div class="cardText">
                    <a href="#" class="acard">WebDevelopment</a>
                </div>

                <div class="client-name">
                    <p>client-name</p>
                </div>

            </div>
            <hr>
                <div class="orders-card">
                    <div class="images-div">
                        <img src="images/jobs/webDev.jpeg">
                    </div>
                
                    <div class="cardText">
                        <a href="#" class="acard">Web Development</a>
                    </div>

                    <div class="client-name">
                        <p>client-name</p>
                    </div>
                </div>
                <hr>
        </div>


    <%- include("../partials/footer.ejs")%>
</body> 
</html>