<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles/poster.css">
    </head>

    <body>
        <%- include("../partials/topbar.ejs")%>
        <main>
            <div id="middle-container">
                <div id="leftSide">
                    <div id="leftBox">
                        <div id="profilebox">
                            <div id="ProfileAvatar">
                                <img src="../../images/profile-avatar/avatar.png" alt="Avatar" style="color: black;">
                            </div>
                            <div id="profileNameText">
                                <b><p>John Smith</p></b>
                            </div>
                        </div>
                        
                        <div  id="aboutSellerText">
                            <div id="discription">
                                <h3>My Discription</h3>
                                <i>All about ME , my Job and career!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</i>
                            </div>
                            <div id="sellerSkills">  
                                <h3>My Skills</h3>
                                <i>All about My skills !!!!!!!!!!!!!!!!!!!!!!!!!!!!!</i>
                            </div>
                        </div>

                        <div id="historyTabel"></div>
                            <div id="tabelText">  
                                <h3>History</h3>
                            </div>
                            <div id="tabelz">
                                <table>
                                    <tr>
                                      <th>Number</th>
                                      <th>First name</th>
                                      <th>Second name</th>
                                      <th>Jobs</th>
                                      <th>Client mail</th>
                                      <th>Client Phone</th>
                                    </tr>
                                    <tr>
                                      <td>1</td>
                                      <td>abdelrahman</td>
                                      <td>Cell 6</td>
                                      <td>Cell 4</td>
                                      <td>Cell 5</td>
                                      <td>Cell 6</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>ahmed</td>
                                        <td>Cell 6</td>
                                        <td>Cell 4</td>
                                        <td>Cell 5</td>
                                        <td>Cell 6</td>
                                      </tr>
                                      <tr>
                                        <td>3</td>
                                        <td>hassan</td>
                                        <td>Cell 6</td>
                                        <td>Cell 4</td>
                                        <td>Cell 5</td>
                                        <td>Cell 6</td>
                                      </tr>
                                      <tr>
                                        <td>4</td>
                                        <td>zanaty</td>
                                        <td>Cell 6</td>
                                        <td>Cell 4</td>
                                        <td>Cell 5</td>
                                        <td>Cell 6</td>
                                      </tr>
                                  </table>
                            </div>
                        </div>
                </div>
                <div id="rightSide">  
                    <div>
                    <div id="contectBox">
                        <div id = "contectText">
                                <h3>
                                    Contact Me
                                </h3>
                            </div>
                            <hr id = "contactHr">
                            <a href="###"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="####"><i class="fa-brands fa-facebook"></i></a>
                            <a href="####"><i class="fa-brands fa-github"></i></a>
                            <a href="####"><i class="fa-brands fa-square-x-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--Footer!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <%- include("../partials/footer.ejs")%>
    </body>
</html>