<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles/poster.css">
    </head>

    <body>
        <%- include("../partials/topbar.ejs")%>
        <main>
            <div id="middle-container">
                    <div id="profile-wrapper">
                        <div id="profilebox">
                            <div id="profileNameText">
                                <b><p>Freelancer Name</p></b>
                            </div>
                        </div>
                        
                        <div  id="aboutSellerText">
                            <div id="discription">
                                <h3>My Discription</h3>
                                <i>All about ME , my Job and career!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</i>
                            </div>
                            <div id="sellerSkills">  
                                <h3>My Skills</h3>
                                <i>All about My skills !!!!!!!!!!!!!!!!!!!!!!!!!!!!!</i>
                            </div>
                            <div id="freelancer-gigs">  
                                <h3>My gigs</h3>
                                <div id="freelancer-services">
                                    <div class="service-card"> 
                                     <img src="images/jobs/job1.jpg">
                                        <p>abdo photoshop</p>
                        
                                    </div>
                                    <div class="service-card"> 
                                        <img src="images/jobs/job1.jpg">
                                           <p>abdo photoshop</p>
                           
                                    </div>
                                    <div class="service-card"> 
                                        <img src="images/jobs/job1.jpg">
                                           <p>abdo photoshop</p>
                           
                                    </div>
                                    <div class="service-card"> 
                                        <img src="images/jobs/job1.jpg">
                                           <p>abdo photoshop</p>
                           
                                    </div>
                                    <div class="service-card"> 
                                        <img src="images/jobs/job1.jpg">
                                           <p>abdo photoshop</p>
                           
                                    </div>
                
                                </div>
                               
                            </div>
                        </div>
                </div>
                    
                    <div id="contectBox">
                        <div id = "contectText">
                                <h3>
                                    Contact Me
                                </h3>
                            </div>
                            <hr id = "contactHr">
                            <a href="###"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="####"><i class="fa-brands fa-facebook"></i></a>
                            <a href="####"><i class="fa-brands fa-github"></i></a>
                            <a href="####"><i class="fa-brands fa-square-x-twitter"></i></a>
                        </div>
                    </div>
                </div>
        </main>
        <%- include("../partials/footer.ejs")%>
    </body>
</html>