<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="clientprofile.css">
    <script src='changepass.js'>	</script>
    <title>Change password</title>
</head>
<body>
    

    <div class="wrapper">
        <div class="left">
            <img id="img" src="Picture13-2 (1).png" alt="user picture" width="110%">
            <div class="nav">
                <a href="posterprofile.html"> About</a><br>
                <a href="posterpass.html"> Password</a><br>
                <a href="posterhistory.html"> History</a>
            </div>

        </div>
        <div class="right">
            <div class="info">
                <h3 id="i">History </h3>
                <form name="changepass" action="" method="post">
            <div class="box">
                    <div class="box-group">
                        <label class="labpass">Current password :</label>
                        <input type="password" class="c_pass" placeholder="type.." name="curpass">
                        <div class="ERROR" id="curpassErr"></div>
                    </div>
                    <div class="box-group">
                        <label class="labpass">New password :</label>
                        <input type="password" class="c_pass" placeholder="type.." name="newpass">
                        <div class="ERROR" id="newpassErr"></div>
                    </div>
                    <div class="box-group">
                        <label class="labpass">Repeat new password :</label>
                        <input type="password" class="c_pass" placeholder="type.." name="reppass">
                        <div class="ERROR" id="reppassErr"></div>
                    </div>
               
                    <button class="changepass">Save</button>
                    
            </div>
            </form>
        </div>
</div>

</body>

</html>