<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Freelancer profile</title>
	<link rel="stylesheet" href="clientprofile.css">
    <script src='changepass.js'>	</script>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="left">
        <img id="img" src="Picture13-2 (1).png" 
        alt="user picture" width="110%">
        <div class="nav" >
            <a  href="posterprofile.html"> About</a><br>
            <a  href="posterpass.html"> Password</a><br>
            <a  href="posterhistory.html"> History</a>
        </div>
       
    </div>
    <div class="right">
        <div class="info">
            <h3 id="i">Profile page</h3>

            <div class="info_data">


               <!-- <div class="button" > <button> Edit</button> </div> -->
                <div class="data">
                    <h4 class="title">First name :</h4>
                    <p class="details" id="c_fname">Abd El Rahman</p>
                 </div>


                 <!-- <div class="button" > <button> Edit</button> </div> -->
                 <div class="data">
                    <h4 class="title">Last name :</h4>
                    <p class="details" id="c_lname">Osama</p>
                 </div>


                 <!-- <div class="button" > <button> Edit</button> </div> -->
                 <div class="data">
                    <h4 class="title">Email :</h4>
                    <p class="details" id="c_mail">boosy446@gmail.com</p>
                 </div>


                 <!-- <div class="button" > <button> Edit</button> </div> -->
                 <div class="data">
                   <h4 class="title">Phone :</h4>
                    <p class="details" id="c_mobile">0123456789</p>
              </div>
              
            </div>
        </div>
      
      
      
        
    </div>
</div>


</body>
</html>