<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="styles/login.css">
    <script src='scripts/register.js'>	</script>
    <title>JOB ME!</title>
</head>

<body>
    <section>
        <div class="form-box-reg">
            <div class="form-value">
                <form name="registerform"  action="/auth/signup" method="post">
                    <h2 id="signup">Sign up</h2>

                    <div class="inputbox" style="margin-bottom: 0px;">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text"  name="name" >
                        <label for="name">First name : </label>
                    </div>
                    <div class="error" id="nameErr"></div>


                    <div class="inputbox" style="margin-bottom: 0px;">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text"  name="lastname" >
                        <label for="lastname">Last Name : </label>
                    </div>
                    <div class="error" id="lastnameErr"></div>



                    <div class="inputbox"   style="margin-bottom: 0px;">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" id="email"  name="email" >
                        <label for="email">Email : </label>
                    </div>
                    <div class="error" id="emailErr"></div>



                    <div class="inputbox"  style="margin-bottom: 0px;">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" id="password"  name="password" >
                        <label for="password">Password : </label>
                    </div>
                    <div class="error" id="passwordErr"></div>


                    <div class="inputbox"   style="margin-bottom: 0px;">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" id="confpassword"  name="confpassword" >
                        <label for="confpassword">Confirm Password : </label>
                    </div>
                    <div class="error" id="confpasswordErr"></div>


                    <div class="inputbox"  style="margin-bottom: 0px;">
                        <ion-icon name="call-outline"></ion-icon>
                        <input type="text" id="mobilenum" name="mobile" maxlength="11">
                        <label for="mobilenum">Mobile Number : </label>
                    </div>
                    <div class="error" id="mobileErr"></div>



                    <div class="radio-box"  style="margin-bottom: 0px;">
                        <label for="gender">Gender : </label>
                        <label><input type="radio" id="gender" name="gender" value="male"> Male</label>
                        <label><input type="radio" id="gender" name="gender" value="female"> Female</label> 
                    </div>
                    <div class="error" id="genderErr"></div>

                    
                    <div class="radio-box"  style="margin-bottom: 0px;">
                        <label for="category">Category : </label>
                        <label><input type="radio" id="category" name="category" value="client"> Client</label>
                        <label><input type="radio" id="category" name="category" value="freelancer"> Freelancer</label> 
                    </div>
                    <div class="error" id="categoryErr"></div>


                    <button class="btnlog">Sign up </button>
                    
                    <div id="googleSignin">
                        <div id="signin-with-google-image">
                        <img src="images/logos/googleLogo.png" >
                        </div>
                        <div id="signin-with-google-text">
                            <a href="/auth/google">Signin with Google</a>
                        </div>
                        
                    </div>
                    
                    <div class="register">
                        <p>Already have an account? <a href="/login">Log in </a></p>
                    </div>
                    <div class="alreadysigned">
                        <!-- <p>if the account is already registerd </p> -->
                    </div>

                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- <footer class="footer">
        <p class="foot">Copyright @jobME!</p>

    </footer> -->
</body>

</html>