<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/serviceProviderDash.css">
    <script src="/scripts/providerDash.js"></script>
    
</head>
<body>
    <%- include("../partials/nav")%>

    <h1>Dashboard</h1>
        <div id="dashboard-section-1">
            <h1 class="section-header">Your Services</h1>
            <div id="dash-services">
            
                
            </div>
            
        </div>
        <div>
            <h1 class="section-header">Your Statistics</h1>
            <div  id="dash-statistics">
                
            </div>
        </div>
    <%- include("../partials/footer")%>
    

</body>
</html>