<!DOCTYPE html>
<html>
    <head>
        <title>
            services page
        </title>
        <link rel="stylesheet" href="styles/search for service.css">
        <link href='https://unpkg.com/css.gg@2.0.0/icons/css/profile.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        
        <header>
            <div class="topbarContainer">
                <div id="topbar">
                    <div class = "logo"><a href="https://www.youtube.com"><img src="images/logos/jobmeLogo_j-only.png"></a></div>
                    <div class="searching-div">
                    <input id="searchBar" type="search" placeholder="search...." >
                    <button class ="searchButton">Search</button>
                    </div>
                    <div class = "messege"><a href="######"><span class="material-symbols-outlined">
                        mail
                        </span></a></div>
                    <div class = "order"><a href="######"><span class="material-symbols-outlined">
                        orders
                        </span></a></div>
                    <div class = "accountButton"><a href="######"><span class="material-symbols-outlined">
                        account_circle
                        </span></a></div>
                </div>
            </div>
        </header>
        
        <div class="filtersList">
            <div class="CategoryList-div">
             <select class="CategoryList" name="Category" ; >
                <option disabled selected>Select a Category</option>
                <option value="Programming & Tech">Programming & Tech</option>
                <option value="Graphics & Design">Graphics & Design</option>
                <option value="Digital Marketing">Digital Marketing</option>
                <option value="Video & Animation">Video & Animation</option>
                <option value="Music & Audio">Music & Audio</option>
             </select>
            </div>
            
            <div class="budgetList-div">
                <select class="budgetList" name="budget" ; >
                    <option disabled selected>Select budget</option>
                    <option value="Less than 100$">Less than 100$</option>
                    <option value="100$-300$">100$-300$</option>
                    <option value="300$-500$">300$-500$</option>
                    <option value="More than 500$">More than 500$</option>
                </select>
            </div>

            <div class="deliveryTimeList-div">
                <select class="deliveryTimeList" >
                    <option disabled selected>Select a Delivery time</option>
                    <option value="24H">24H</option>
                    <option value="Up to 3 days">Up to 3 days</option>
                    <option value="Up to 7 days">Up to 7 days</option>
                    <option value="Anytime">Anytime</option>
                </select>
            </div>

        </div>
       
        <div class="jobs-div">

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/job1.jpg">
                </div>
                <div class="cardType">
                    <p>programming</p>
                </div>
                <div class="cardText">
                    <p>hiiiiiiiiii</p>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/job2.jpeg">
                </div>
                <div class="cardType">
                    <p>programming</p>
                </div>
                <div class="cardText">
                    <p>hiiiiiiiiii</p>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/webDev.jpeg">
                </div>
                <div class="cardType">
                    <p>programming</p>
                </div>
                <div class="cardText">
                    <p>hiiiiiiiiii</p>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/marketing1.jpeg">
                </div>
                <div class="cardType">
                    <p>programming</p>
                </div>
                <div class="cardText">
                    <p>hiiiiiiiiii</p>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/marketing2.jpeg">
                </div>
                <div class="cardType">
                    <p>programming</p>
                </div>
                <div class="cardText">
                    <p>hiiiiiiiiii</p>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/design2.jpeg">
                </div>
                <div class="cardType">
                    <p>programming</p>
                </div>
                <div class="cardText">
                    <p>hiiiiiiiiii</p>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/design1.jpeg">
                </div>
                <div class="cardType">
                    <p>programming</p>
                </div>
                <div class="cardText">
                    <p>hiiiiiiiiii</p>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/audio1.jpeg">
                </div>
                <div class="cardType">
                    <p>programming</p>
                </div>
                <div class="cardText">
                    <p>hiiiiiiiiii</p>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/audio2.jpeg">
                </div>
                <div class="cardType">
                    <p>programming</p>
                </div>
                <div class="cardText">
                    <p>hiiiiiiiiii</p>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/animation2.jpeg">
                </div>
                <div class="cardType">
                    <p>programming</p>
                </div>
                <div class="cardText">
                    <p>hiiiiiiiiii</p>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/animation1.jpeg">
                </div>
                <div class="cardType">
                    <p>programming</p>
                </div>
                <div class="cardText">
                    <p>hiiiiiiiiii</p>
                </div>
            </div>
        </div>
        

        <script src = "scripts/servicesPageScript.js"></script>
    </body>
</html>