<!DOCTYPE html>
<html>
<head>
    <title>Services Page</title>
    <link rel="stylesheet" href="styles/search for service.css">
</head>
<body>
    <%- include("../partials/topbar.ejs") %>

    <div class="filtersList">
        <div class="filters-custom-select">
            <div class="filters-select-selected">
                Category
            </div>
            <div class="filters-select-items">
                <div>option 1</div>
                <div>option 2</div>
                <div>option 3</div>
            </div>
        </div>

        <div class="filters-custom-select">
            <div class="filters-select-selected">
                Budget
            </div>
            <div class="filters-select-items">
                <div>option 1</div>
                <div>option 2</div>
                <div>option 3</div>
            </div>
        </div>

        <div class="filters-custom-select">
            <div class="filters-select-selected">
                Delivery Time
            </div>
            <div class="filters-select-items">
                <div>option 1</div>
                <div>option 2</div>
                <div>option 3</div>
            </div>
        </div>

        <div class="filters-custom-select" id="sort-custom-select">
            <div class="filters-select-selected">
                Sort By:
            </div>
            <div class="filters-select-items">
                <div>option 1</div>
                <div>option 2</div>
                <div>option 3</div>
            </div>
        </div>
    </div>

    <!-- dynamically generated cards will be inserted here -->
    <div class="jobs-div"></div>

    <% include("../partials/footer.ejs") %>

    <script src="scripts/servicesPageScript.js"></script>
</body>
</html>