<!DOCTYPE html>
<html>
    <head>
        <title>
            services page
        </title>
        <link rel = "stylesheet" href = "styles/search for service.css">
    </head>
    <body>
        
        <%- include("../partials/topbar.ejs")%>
        
        <div class="filtersList">
            <div class="filters-custom-select">
                <div class="filters-select-selected">
                    Category
                  </div>
                <div class="filters-select-items">
                    <div>option 1</div>
                    <div>option 2</div>
                    <div>option 3</div>
                </div>
            </div>

            <div class="filters-custom-select">
                <div class="filters-select-selected">
                    Budget
                  </div>
                <div class="filters-select-items">
                    <div>option 1</div>
                    <div>option 2</div>
                    <div>option 3</div>
                </div>
            </div>

            <div class="filters-custom-select">
                <div class="filters-select-selected">
                    Delivery Time
                  </div>
                <div class="filters-select-items">
                    <div>option 1</div>
                    <div>option 2</div>
                    <div>option 3</div>
                </div>
            </div>

            <div class="filters-custom-select" id = "sort-custom-select">
                <div class="filters-select-selected">
                   Sort By: 
                  </div>
                <div class="filters-select-items">
                    <div>option 1</div>
                    <div>option 2</div>
                    <div>option 3</div>
                </div>
            </div>
        </div>
       
        <div class="jobs-div">
            <a href = "/service-view" >
                <div class="cards">
                    <div class="images-div">
                        <img src="images/jobs/job1.jpg">
                    </div>
                    <div class="cardType">
                        <p>Programming & Tech</p>
                    </div>
                    <div class="cardText">
                        C++ Projects
                    </div>
                </div>
            </a>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/job2.jpeg">
                </div>
                <div class="cardType">
                    <p>Programming & Tech</p>
                </div>
                <div class="cardText">
                    <a href="#">Java Projects</a>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/webDev.jpeg">
                </div>
                <div class="cardType">
                    <p>Programming & Tech</p>
                </div>
                <div class="cardText">
                    <a href="#">Web Development</a>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/marketing1.jpeg">
                </div>
                <div class="cardType">
                    <p>Digital Marketing</p>
                </div>
                <div class="cardText">
                    <a href="#">Marketing Projects</a>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/marketing2.jpeg">
                </div>
                <div class="cardType">
                    <p>Digital Marketing</p>
                </div>
                <div class="cardText">
                    <a href="#">Marketing Projects</a>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/design2.jpeg">
                </div>
                <div class="cardType">
                    <p>Graphics & Design</p>
                </div>
                <div class="cardText">
                    <a href="#">Graphics Projects</a>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/design1.jpeg">
                </div>
                <div class="cardType">
                    <p>Graphics & Design</p>
                </div>
                <div class="cardText">
                    <a href="#">Graphics Projects</a>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/audio1.jpeg">
                </div>
                <div class="cardType">
                    <p>Music & Audio</p>
                </div>
                <div class="cardText">
                    <a href="#">Songes & Music </a>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/audio2.jpeg">
                </div>
                <div class="cardType">
                    <p>Music & Audio</p>
                </div>
                <div class="cardText">
                    <a href="#">Sound System</a>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/animation2.jpeg">
                </div>
                <div class="cardType">
                    <p>Video & Animation</p>
                </div>
                <div class="cardText">
                    <a href="#">Animation Projects</a>
                </div>
            </div>

            <div class="cards">
                <div class="images-div">
                    <img src="images/jobs/animation1.jpeg">
                </div>
                <div class="cardType">
                    <p>Video & Animation</p>
                </div>
                <div class="cardText">
                    <a href="#">Cartoon projects</a>
                </div>
            </div>
        </div>
        
        <!--
            include footer!!!!!!!!!!!!!!!!!!!!!! 
        -->
        <%- include("../partials/footer.ejs")%>
        

        <script src = "scripts/servicesPageScript.js"></script>
    </body>
   
</html>