<!DOCTYPE html>
<header>

</header>

<body>
    <div id="login-successfully-wrapper">
        <div id="login-successfully-logo">
            <i  class="fa-regular fa-circle-check"></i>
        </div>
        <div id="login-successfully-text">
            <b>Login Success!</b>
        </div>
        <div id="login-successfully-button">
            <a>Continue</a>
        </div>
    </div>
</body>