@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #ffffff;
}

body {
    background-color: white;
    height: auto;
    
}

.wrapper {
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 1%;
}

.left {
    width: 18%;
    background-color: rgb(4, 4, 54);
    padding: 30px 25px;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    text-align: center;
    color: #fff;
    min-height: 750px;
    box-shadow: 0 0 2rem 0 black;
}

.nav{
    margin-top: 6rem;
    font-size: 0.9em;
    font-weight: 700;
}

.nav a {
    border-bottom: 2px solid white ;
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 2em;
    margin-bottom: 40px;
}

.nav a:hover{
    transform: scale(1.190);
}

.right {
    width: 81.4%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 30px 50px;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-weight: 900;
    height: 750px;
    letter-spacing: 2px;
    box-shadow: 0 0 2rem 0 black;
}

.button {
    text-align: right;
    margin-top: 0px;
    transform: translateY(30px);
}

.button button {
    padding: 8px 40px;
    background-color: turquoise;
    color: white;
    border: none;
    border-radius: 120px;
    font-size: 20px;
    cursor: pointer;
}

.button button:hover {
    background-color: mediumblue;
    transform: scale(1.115);
}

#i {
    
    font-size: 2.6rem;
    font-weight: 900;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 0 ;
    
}

#hr{
    border: 0;
    height: 4px;
    margin-bottom: 3rem;
    position:relative;
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%);
}
.title {
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
   
}

.info_data {
    display: flex;
    flex-direction: column;
}

.data {
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
   
}

.details {
    margin-top:0.3rem ;
    margin-left: 1rem;
    font-size: 25px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

 



.product-info {
    margin-top: 40px;
} 

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 30px;
}




.box{
    margin-top: 90px;
}
.labpass{
    color: #000000;
    font-weight: 400;
    font-size: 46px;
}

.box-group{
    margin-bottom: 60px;
}

.c_pass{
    font-size: 32px;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
    transform: translateY(-8px);
}
.changepass{
    justify-content: center;
    font-size: 27px;
    padding: 10px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}
.ERROR {
    color: red;
    font-size: 0.55em;
    margin-bottom: 20px;
}

#prev-orders {
    box-shadow: 0 0 0.5rem 0 black;
    width: 100%;
    border-radius: 1rem;
    display: block;
    flex-wrap: wrap; 
    justify-content: space-between; 
    max-height: 35rem;
    overflow:auto;
    margin: 0.6rem 0.6rem;

  }
  
  .orders-card {
    width: fit-content ;
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    align-items: center; 
    
  }
  .cardType{
    margin-left: 8rem;
    width: max-content;
    display: flex;
    align-items: left; 
    flex-direction: column;
  }
  .orders-card p {
    color: rgb(0, 0, 0);
    margin: 0;
  }
  #cardtxt{
    color: darkblue;
  }
  .images-div img{
    width: 8rem;
  }
 
  .images-div{
    width: 100%;
    border-radius: 10px;
    margin-left: 4rem;
    padding-top: 0.2rem;
  }

  .acard {
    color: rgb(0, 0, 0);
    display: flex;
    margin-left: 12rem;
    margin-right: 2rem;
    align-items: center; 
    flex-direction: column;
    text-align: center;
  }
