@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #ffffff;
}

body{
    background-color: rgb(126, 164, 207);
}
#error-wrapper {
    display: grid;
    place-items: center;
    height: 100vh; 
    margin-top: 0.1px;
  }

  #error-items{
    width: 30%;
    height:17rem;
    border-radius: 0.4rem;
  }

 p{
  color: rgb(1, 1, 97);
 }
  #error-logo {
    text-align: center;
    font-size: 8rem;
    color: rgb(0, 0, 0);
    font-family: Comic Sans MS;
  }

  #error-text{
    text-align: center;
    font-size: 4rem;
    color: rgb(0, 0, 0);
    
  }

  #error-button{
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0 0.1rem 0.5rem 0 black;
    width: 60%;
    margin-left: 20%;
    border-radius: 1rem;
    color: black;
    height: 2rem;
    transition: 0.7 ease;
    background-color: rgb(255, 255, 255);
  }
 
  #error-button:hover{
    transform: scale(1.1);
    background-color:rgb(255, 0, 0);
  }
  #Aerror{
    text-decoration: none;
    color: black;
  } 