@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

body{
    background-color: #000D30;
    font-family: Inter;
}
#searchBar-container{
    position: absolute;
    width: 45lvw;
    height: 9.80lvh;
    left: 5lvw;  
    top: 55lvh;
    border-radius: 15px;
    background-color: #D9D9D9;
}

#searchBar-search input{
    /*position: static;*/
    display: inline-block;
    width: 29lvw;
    height: 9.5lvh;
    left: 50px;
    top: 508px;

    font-size: 26px;
    
    background: #D9D9D9;
    border-radius: 15px;
    border: none;
}
#searchBar-search input:focus{
    outline: none;
    
}
#searchBar-button input{
    /*position: static;*/
    display: inline-block;
    width: 14.6lvw;
    height: 8lvh;
    left: 120px;
    top: 0px;
    /*left: 667.44px;
    top: 515px;*/

    background: #000D30;
    border-radius: 15px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 1.9lvw;
    line-height: 31px;


    transform: translate(30lvw, -110%);
    color: #FFFFFF;
    border: none;
    outline: none;
}
#searchBar-button input:hover{
    color: #27cbff;

}

