@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

body{
    background: url('https://img.lovepik.com/photo/40168/5398.jpg_wh860.jpg') no-repeat center center fixed;
    background-size: cover; /* Use 'contain' instead of 'cover' to avoid scaling issues */
    height: 100vh; /* Ensure the body takes up full viewport height */
    width: 100%;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 30px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-box-reg{
    position: relative;
    width: 400px;
    /* height: 55em; */
    margin: 50px auto 50px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 30px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}



.h2-log{
    margin-top: 20px;
    font-size: 2.5em;
    color: #fff;
    text-align: center;
}
#signup{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2.9em;
    color: #fff;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
}
.inputbox{
    position: relative;
     margin: 30px 0; 
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #fff;
    font-size: 1em;
    pointer-events: none;
   
}
input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    top: -10px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: black;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: -5px;
}

.btnlog{
    width: 100%;
    transition: 0.7 ease;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}
.btnlog a{
    text-decoration: none;
}
.remember{
        margin: -15px 0 15px ;
        font-size: .9em;
        color: #fff;
        display: flex;
        justify-content: space-between;  
    
}
.remember label input{
    margin-right: 3px;
    
}

.btnlog:hover{
    transform: scale(1.115);
background-color:blue;
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}

.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
    color: blue;
}

.radio-box {
    border: 1px solid white;
    padding: 8px 10px 4px;
    border-radius: 2px;
    color: #fff;
}
.radio-box label, .radio-box input {
    display: inline-block;
    width: auto;
    padding-right: 15px;
}

.error {
    color: red;
    font-size: 90%;
    margin-bottom: 20px;
}
#googleSignin{
    width: 100%;
    height: 2.5rem;
    background-color:white ;
    display: flex;
    transition: 0.7 ease;
    border-radius: 2.5rem;
    cursor: pointer;
}

#signin-with-google-image{
    width: 20%;
    margin-top: 0.25rem;
    margin-left: 0.9rem;
}
#signin-with-google-image img{
    
    width: 3.5rem;
    height: 2rem;
   
}

#signin-with-google-text{

    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

#signin-with-google-text a{
    
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    color: black;

}
#googleSignin:hover{

    transform: scale(1.115);
    background-color:blue;

}   

/* .footer{
    
    background-color:darkblue;
    display: flex;
    justify-content: space-between;
}

.foot {
    padding: 10px;
    color: white;
    text-decoration: none;
    
} */