main{
    width: 100%;
    height: 100%;
}

#middle-container{
    position: relative;
    display: flex;
    width: 80%;
    height: 100%;
    left: 10%;
    top: 20px;
    border:  5px solid black;
}

#leftSide{
    position: relative;
    width: 60%;
    height: 100%;
}
#rightSide{
    position: relative;
    width: 40%;
    padding: 10px;
    height: 100%;
}

#profilebox{
    position: relative;
    display: flex;
    align-items: center;
    margin:5%;
    
}
#ProfileAvatar img{
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 7px;
  }

 #profileNameText p{
 color: black;
 }

 #aboutSellerText{
    margin: 5%;
 }

 #aboutSellerText h3,i {
    color: black;
  }
 
  #discription h3,p{
     margin-bottom: 2%;
  }
  #sellerSkills h3,p{
    margin-bottom: 2%;
 }
 #contectBox{
    box-shadow: 0px 0px 5px 1px rgb(155, 208, 226);
    border-radius: 12px;
    margin: 25% 10%;
    width: 80%;
    text-align: center;
    padding: 3px;
 }

 #contectBox h3{
    
    color: black;
    text-align: center;
    margin-top: 5px;
    font-size:x-large;
}

#contactHr{
    border: 0;
    height: 2px;
    margin:8px 0;
    position:relative;
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%);
}

#contectBox i{
    color: black;
    font-size:x-large;
    margin: 3%;
    
}

#tabelText h3{
    margin: 5%;
    color: black;
}

#tabelz{
    margin: 5%;
    border :solid black;
    width: fit-content;
}
#tabelz td,th{
    padding: 5px;
    height: max-content;
    border :solid black;
    color: black;
    font-size: large;
}