@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #fff;
}


header{
    width: 100%;
}

.topbarContainer{
    width: 100%;
    align-items: center;

}
#topbar{
    overflow: visible;
    position: relative;
    width: 80%;
    align-items: center;
    display: flex;
    left: 10%;
    background-color: rgb(9, 2, 51);
    box-shadow: 0px 0.5px 5px 5px rgb(94, 152, 172);
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
#topbar > *{
    margin: auto;
}

.searching-div{
    display: flex;
    align-items: center;
    width: fit-content;
}
.searching-div > *{
    margin: 5px;
}

#searchBar{ 
    height: 43px; 
    width: 700px;
    padding: 7px;
    font-size: 12px;
    border-radius: 5px;

}
.searchButton {

    padding: 7px 9px; 
    font-size: 16px;
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 3px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 

}

.searchButton:hover {

    background-color: #0056b3; 

}


 
.custom-select {
    position: relative;
    display: inline-block;
}
 
.select-selected {
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
.select-selected :hover{
    color: #0056b3;
}
 
.select-items {
    position: absolute;
    display: none;
    background-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 2;
    width:max-content;
    border-radius: 12px;

}
 
.select-items div {
    padding: 10px;
    cursor: pointer;
}
 
.select-items div:hover {
    background-color: #0056b3;
}

.messege span{

    color :white;
    text-align: center;
    font-size:x-large;

}

.messege :hover{

    color: #0056b3;

}

.order span {

    color :white;
    text-align: center;
    font-size:x-large;

}

.order :hover{

    color: #0056b3;

}

.filtersList{
    position: sticky;
    width: 80%;
    align-items: center;
    display: flex;
    left:10%;
    margin-top: 20px;
    top: 0;
    z-index: 1;
    background-color: rgb(9, 2, 51);
    height: 45px;
    border-radius: 12px;
    
}
.filtersList > *{
    margin-left: 12px;
}

.filters-custome-select{
    
    position: relative;
    display: inline-block;
}

.filters-select-selected{
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 12px;
}

.filters-select-items{
    position: absolute;
    display: none;
    background-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 2;
    width:max-content;
    border-radius: 12px;
}
.filters-select-items div{
    padding: 10px;
    cursor: pointer;
}
.filters-select-items div:hover{
    background-color: #0056b3;
}

.jobs-div{

    position: relative;
    width: 80%;
    height: fit-content;
    background-color: #d4f1f8;
    border-radius: 8px;
    left: 10%;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap ;
}
.cards{

    background-color: #0056b3;
    width: fit-content;
    height: fit-content;
    margin: 20px;
    border-radius: 8px;
    left: 10%;
    padding: 10px;
    background-color:#007bff; 
    color: #000000; 
    cursor: pointer; 
    box-shadow: 0px 1px 5px 1px rgb(0, 0, 0);
    transition:  0.7s ease;
    

}
.images-div img{
    
    height: 150px;
    width: 300px;

}

.cards:hover{

    transform: scale(1.1);

}







