main{
    width: 100%;
    height: 100%;
}

#middle-container{
    position: relative;
    display: flex;
    width: 80%;
    height: 100%;
    left: 10%;
    top: 20px;
}

#leftSide{
    position: relative;
    background-color: black;
    width: 60%;
    height: 100%;
}

#rightSide{
    position: relative;
    width: 40%;
    padding: 10px;
    margin-top: 20PX;
}

#rightSideText{
    width: 100%;
}

#purchaseBox{
    margin: 10px;
    width: 100%;
    border: 2px solid black;
    
}

#priceTag{
    width: 50%;
    margin: auto;
    text-align: center;
}

#priceTag h3{
    margin: 12px;
    color: black;
    font-size: xx-large;
}

#priceHr{
    border: 0;
    height: 2px;
    margin:18px 0;
    position:relative;
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%);
}

#descriptionText p{
    margin: 15px;
    color: black;
    font-size: larger;
    position: relative;
    left: 7%;
    
}

#serviceDetails{
    display: flex;
    align-items: center;
    position: relative;
    left: 7%;
}
#serviceDetails p{
    color:rgb(31, 30, 30);
}
#serviceDetails div{
    display: flex;
    position: relative;
    left: 4%;
    align-items: center;
}

#featuresList li{
    color: black;
    margin :15px;
    font-style: italic;
    font-size: larger;
    position: relative;
    left: 7%;
}

#rightSideButton{
    
    margin: 10px;

}
#rightSideButton input{
    width: 60%;
    background-color:  rgb(9, 2, 51);
    margin-left: 20%;
    height: 50px;
    font-size:xx-large;
    box-shadow: 0px 0px 12px 5px rgb(155, 208, 226);
    cursor: pointer;

}
#rightSideButton input:hover{
    background-color: rgb(24, 4, 135);
}
#contectBox{
    margin: 10px;
    width: 100%;
    border: 2px solid black;
    align-items: center;
    text-align: center;

}


#contectBox h3{
    color: black;
    text-align: center;
    margin-top: 5px;
    font-size:x-large;
}

#contactHr{
    border: 0;
    height: 2px;
    margin:8px 0;
    position:relative;
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%);
}

#contectBox i{
    color: black;
    font-size:x-large;
    margin: 3%;
    
}
