*{
    font-family: 'Poppins',sans-serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #fff;
}


header{
    width: 100%;
}

.topbarContainer{
    width: 100%;
    align-items: center;

}
#topbar{
    overflow: visible;
    position: relative;
    width: 80%;
    align-items: center;
    display: flex;
    left: 10%;
    background-color: rgb(9, 2, 51);
    box-shadow: 0px 0.5px 5px 5px rgb(94, 152, 172);
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
#topbar > *{
    margin: auto;
}

#topbar-logo-img{
    position: relative;
    top: 3px;
}

.searching-div{
    display: flex;
    align-items: center;
    width: fit-content;
}
.searching-div > *{
    margin: 5px;
}

#searchBar{ 
    height: 43px; 
    width: 700px;
    padding: 7px;
    font-size: 12px;
    border-radius: 5px;
    color: black;
}

#searchButton {

    padding: 7px 9px; 
    font-size: 16px;
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 3px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 

}

#searchButton:hover {

    background-color: #0056b3; 

}


 
.custom-select {
    position: relative;
    display: inline-block;
    bottom: 4px;
    right: 4px;
}
 
.select-selected {
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
.select-selected :hover{
    color: #0056b3;
}
 
.select-items {
    position: absolute;
    display: none;
    background-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 2;
    width:max-content;
    border-radius: 12px;

}
 
.select-items div {
    padding: 10px;
    cursor: pointer;
}
.select-items div:hover {
    background-color: #0056b3;
}

.select-items a{
    text-decoration: none;
}

.messege span{

    color :white;
    text-align: center;
    font-size:x-large;

}

.messege :hover{

    color: #0056b3;

}

.order span {

    color :white;
    text-align: center;
    font-size:x-large;

}

.order :hover{

    color: #0056b3;

}